.principal-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 60px;
  padding-top: 100px;
}

.principal-texto {
  padding-top: 72px;
}

.principal-texto h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 48px;
  color: #616161;
}

.principal-texto h1 span {
  color: #d55946;
}

.principal-texto p {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
  color: #7b7b7b;
  max-width: 40ch;
}

@media (max-width: 800px) {
  .principal-conteudo {
    padding-top: 60px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .principal-texto {
    padding-top: 0px;
  }

  .principal-texto h1,
  .principal-texto p {
    text-align: center;
  }
  .principal-texto p {
    max-width: 60ch;
  }
}
